
# Global configuration file

CC = gcc
AS = nasm
LD =  ld

DEFINES = 


CFLAGS = -m32 -Wall -O -fstrength-reduce -fomit-frame-pointer -finline-functions -nostdinc -fno-builtin -nostdlib -fno-exceptions -fno-leading-underscore -Wno-write-strings -I../include

NASM_FLAGS = -O99 -f elf32 

LDFILE_LINK    = link.ld
LDFLAGS_LINK   = -T $(LDFILE_LINK)
LDFLAGS = -melf_i386